html {
            fonts: Roboto;

        }
        .nav {
            background: #1D1B17;
            position: absolute;
            width: 100%;
            height: 58px;
            left: 0px;
            top: 0px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item {
            font-style: normal;
            margin-top: 13px;
            margin-bottom: 17px;
            margin-left: 37px;
            font-size: 24px;
            }
        .header {
            position: absolute;
            width: 100%;
            height: 156px;
            left: 0px;
            top: 56px;
            background: #FEED01;
            display:flex;
        }

        .logo {
            position: absolute;
            width: 353px;
            height: 84px;
            left: 200px;
            top: 88px;
            top: 38px;
            background: url("../img/logo.svg");
        }
        .phone {
            position: absolute;
            width: 40px;
            height: 28px;
            left: 80%;
            top: 47px;
            }

        .number {
            position: absolute;
            width: 151px;
            height: 55px;
            left: 82%;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            top: 30px;
            margin-left: 15px;
            margin-top: 10px;
            color: #000000;
            display: flex;
            flex-direction: column;

        }

        .search-block {
            position: absolute;
            width: 100%;
            height: 60px;
            left: 0px;
            top: 211px;
            background: #C4C4C4;
            display: flex;
            justify-content: center;
        }

        .catalog {
            width: 137px;
            height: 22px;
            left: 107px;
            margin-left: 44px;
            margin-right: 44px;
            margin-top: 7px;
            background: black;
            color: white;
            padding: 10px 35px;
            border-radius: 10px;
            text-align: center;
            font-size: 30px;
            line-height: 22px;
            font-weight: bold;
            font-style: normal;
            border: 1px solid #000000;
            bottom: 15px;

        }

        .search {
            font-size: 30px;
            line-height: 22px;
            margin-top: 7px;
            width: 618px;
            height: 29px;
            left: 288px;
            top: calc(50% - 29px/2 - 272px);
            text-align: center;
            background: #FFFFFF;
            border: 5px solid #FFFFFF;
            border-radius: 10px;
            box-shadow: none;
            outline: 0;

        }